body {
	width: 350px;
	padding: 1.5rem;
}

h1 {
	font-size: 1.5rem !important;
	font-weight: 500 !important;
	color: #E9242F;
	margin: 0.8rem 0 1.68rem 0 !important;
}

label {
	color: #4c4c4c !important;
}

[type="checkbox"].filled-in:checked+label:after {
	border: 2px solid #f44336 !important;
    background-color: #f44336 !important;
}

[type="checkbox"]:checked+label:before {
	border-right: 2px solid #fff !important;
    border-bottom: 2px solid #fff !important;
}

.list-label {
	font-weight: 500 !important;
	color: #F55448 !important;
}

.blacklistDel, .whitelistDel {
	border: none !important;
	background-color: #fff !important;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
	border-bottom: 1px solid #f44336 !important;
    -webkit-box-shadow: 0 1px 0 0 #f44336 !important;;
    box-shadow: 0 1px 0 0 #f44336 !important;;
}

#save {
	background-color: #f44336;
	border: none;
    color: white;
    padding: 0.55rem 1.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 0.8rem;
    display: inline-block;
    box-shadow: 0px 5px 34px -5px #7a7a7a;
    margin-bottom: 1.5rem;
}

#save:hover {
    background-color: #F55448;
}